html {
  font-size: 10px;
}

body {
  font-family: "Inter", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
}

h1 {
  font-size: 4rem;
}

h2, blockquote {
  font-size: 2.8rem;
}

h3 {
  font-size: 2rem;
}

blockquote {
  font-weight: 700;
  line-height: 1.4;
}
blockquote em {
  border-bottom: 4px solid #D9292A;
  font-style: normal;
}

p {
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 1.4;
  color: #6F6F6F;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  gap: 1.6rem;
  max-width: 120rem;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.flex-direction-column {
  flex-direction: column;
  gap: initial;
}

.mw-600 {
  max-width: 60rem;
}

main, section {
  padding-top: 6rem;
  padding-bottom: 10rem;
}

.img-fluid {
  max-width: 100%;
  display: block;
}

.overflow-hidden {
  overflow: hidden;
}

main {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.25) 0%, rgba(0, 0, 0, 0.75) 25%, rgb(0, 0, 0) 75%), url(../img/caminhoes.jpg) no-repeat;
  color: #fff;
}
main h1 {
  margin: 3.6rem 0 2.4rem;
}
main p {
  color: #fff;
}

main, .services {
  text-align: center;
}

.services h2 {
  margin: 2.8rem 0 1.6rem;
}
.services ul {
  flex-flow: wrap;
  list-style: none;
  align-items: stretch;
  margin-top: 7rem;
}
.services ul li {
  flex: 0 0 calc(25% - 16px);
}
.services ul li a.thumb-service {
  display: block;
  margin: 0 auto 1.6rem;
  width: 125px;
  height: 125px;
  border-radius: 50%;
  border: 10px solid #D9D9D9;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.services ul li a.thumb-service.thumb-alinhamento {
  background-image: url(../../img/alinhamento-balanceamento.jpg);
}
.services ul li a.thumb-service.thumb-freios {
  background-image: url(../../img/freios.jpg);
}
.services ul li a.thumb-service.thumb-embuchamento {
  background-image: url(../../img/embuchamento-eixo.jpg);
}
.services ul li a.thumb-service.thumb-quinta-roda {
  background-image: url(../../img/manutencao-quinta-roda.jpg);
}
.services ul li a.thumb-service.thumb-bomba-injetora {
  background-image: url(../../img/bomba-injetora-caminhao.jpg);
}
.services ul li a.thumb-service.thumb-quarto-eixo {
  background-image: url(../../img/quarto-eixo.jpg);
}
.services ul li a.thumb-service.thumb-pecas-acessorios {
  background-image: url(../../img/pecas-acessorios-caminhao.jpg);
}
.services ul li a.thumb-service.thumb-alongamento-chassi {
  background-image: url(../../img/alongamento-chassi.jpg);
}

.quote {
  padding-top: 10rem;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.25) 0%, rgba(0, 0, 0, 0.5) 25%, rgb(0, 0, 0) 90%), url(../img/caminhao-visto-cima.jpg) no-repeat top center fixed;
  color: #fff;
  text-align: center;
}

.contact .container {
  column-gap: 11.2rem;
}
.contact .address li {
  list-style: none;
  font-size: 1.8rem;
  font-weight: 700;
  color: #6F6F6F;
  margin-top: 2rem;
  line-height: 1.4;
  display: flex;
}
.contact .address li i {
  color: #D9292A;
  margin-right: 2rem;
  margin-top: 3px;
  font-size: 2.25rem;
}

footer {
  padding: 6rem 0 8rem;
  background: #2E2E2E;
}
footer .flex-direction-column {
  row-gap: 3rem;
}
footer img {
  max-width: 275px;
}
footer small {
  font-size: 1.6rem;
  color: #fff;
  line-height: 1.5;
}
footer small a {
  color: #fff;
}
footer .column {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
footer .column .socials {
  list-style: none;
}
footer .column .socials li {
  font-size: 3rem;
  display: inline-block;
}
footer .column .socials li:first-child {
  margin-right: 2rem;
}
footer .column .socials li a {
  color: #fff;
}

.modal-bg {
  background: rgba(0, 0, 0, 0.75);
  animation: fadeIn 0.3s ease forwards;
  opacity: 0;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 1;
  top: 0;
  width: 100%;
  height: 100%;
  display: none;
}
.modal-bg.open {
  display: flex;
}
.modal-bg .modal-content {
  background: #fff;
  padding: 2rem 2rem 4rem;
  width: 100%;
  min-width: 350px;
  max-width: 400px;
  border-radius: 8px;
  position: relative;
}
.modal-bg .modal-content h3 {
  margin: 1.6rem 0;
}
.modal-bg .modal-content p + p {
  margin-top: 1.25rem;
}
.modal-bg .modal-content .close-modal {
  width: 38px;
  height: 38px;
  border-radius: 50%;
  background: #D9292A;
  display: block;
  border: none;
  position: absolute;
  top: -18px;
  right: -18px;
  cursor: pointer;
}
.modal-bg .modal-content .close-modal i {
  font-size: 2rem;
  color: #fff;
}

.btn {
  font-size: 1.6rem;
  padding: 1.4rem 2.2rem;
  border-radius: 0.8rem;
  display: inline-block;
  text-decoration: none;
  border: 2px solid transparent;
  font-weight: 700;
  margin-top: 3rem;
}
.btn i {
  margin-left: 1.6rem;
  font-size: 2rem;
}
.btn.btn-primary {
  background: #D9292A;
  color: white;
}
.btn.btn-primary:hover {
  background: #BD2526;
}
.btn.btn-ghost-light {
  border-color: #fff;
  color: #fff;
}
.btn.btn-ghost-light:hover {
  background: #fff;
  color: #000000;
}
.btn.btn-ghost-dark {
  border-color: #2E2E2E;
  color: #2E2E2E;
}
.btn.btn-ghost-dark:hover {
  background: #2E2E2E;
  color: #fff;
}

.btn + .btn {
  margin-left: 2rem;
}

@media screen and (max-width: 767px) {
  html {
    font-size: 8px;
  }
  .container {
    padding: 0 2rem;
  }
  main img {
    max-width: 250px;
  }
  .services ul {
    justify-content: space-between;
  }
  .services ul li {
    flex: 0 0 calc(50% - 8px);
  }
  .quote {
    padding: 6rem 0 8rem;
  }
  .contact .container {
    flex-direction: column;
  }
  footer .column {
    flex-direction: column;
    row-gap: 2rem;
  }
  footer .flex-direction-column {
    row-gap: 2rem;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.fadeIn {
  animation: fadeIn 0.3s ease forwards;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.fadeOut {
  animation: fadeOut 0.3s ease forwards;
}