.btn {
  font-size: 1.6rem;
  padding: 1.4rem 2.2rem;
  border-radius: .8rem;
  display: inline-block;
  text-decoration: none;
  border: 2px solid transparent;
  font-weight: $font-weight-title;
  margin-top: 3rem;
  & i {
    margin-left: 1.6rem;
    font-size: 2rem;
  }
  &.btn-primary {
    background: $primary-color;
    color: white;
    &:hover {
      background: #BD2526;
    }
  }
  &.btn-ghost-light {
    border-color: $white;
    color: $white;
    &:hover {
      background: $white;
      color: $black;
    }
  }
  &.btn-ghost-dark {
    border-color: $secondary-color;
    color: $secondary-color;
    &:hover {
      background: $secondary-color;
      color: $white;
    }
  }
}

.btn + .btn {
  margin-left: 2rem;
}