// Colors
$primary-color:    #D9292A;
$secondary-color:  #2E2E2E;
$text-color:       #6F6F6F;
$black:            #000000;
$white:            #fff;

// Fonts
$font-primary: 'Inter', sans-serif;
$font-weight-text: 400;
$font-weight-title: 700;

// Values
$value-primary: 10px;

